{% extends 'admin/adminbase.html.twig' %}
{% block title %}New Orders{% endblock %}
{% block sidebar %} {{ include('admin/include/leftsidebar.html.twig') }} {% endblock %}


{% block content %}
<div class="section" style="margin-left: 30%">
    <!-- container -->
    <div class="container" >
        <!-- row -->
        <div class="row" >

    {{ include('admin/orders/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
