{% extends 'home/frontbase.html.twig' %}
{% block body %}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <a href="{{ path('home') }}"><button class="btn btn-lg btn-primary" type="submit">Giriş yap</button></a>


                    </form>
                </div><!--/login form-->
            </div>


        </div>
    </div>
</section>
{% endblock %}