{% extends 'admin/adminbase.html.twig' %}

{% block title %}Kategori DETAY {% endblock %}

{% block body %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <section class="content">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        KATEGORİ DÜZENLE
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_category_index') }}" class="btn btn-primary">Listeye Dön</a>

    {{ include('admin/category/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
